{% extends 'layout.html' %}

{% block body %}


		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
			<form class="form-horizontal">

				<div type="button" class="btn btn-primary btn-lg btn-block">Datos</div>
				<div type="button" class="btn btn-default btn-lg btn-block">

					
					<div class="form-group">
					<label for="f-muestreo"> Frecuencia de muestreo </label>
					<input type="text" name="f-muestreo" id="f-muestreo" disabled="true" value="{{frecuencia_muestreo}}" />
					</div>

				</div>

				<div type="button" class="btn btn-primary btn-lg btn-block">Promedio 10 muestras</div>
				<div type="button" class="btn btn-default btn-lg btn-block">		
					
					<div class="form-group">					
					<label for="prom-temp"> Temperatura </label>
					<input type="text" name="prom-temp" id="prom-temp" disabled="true" value="{{promediotemp[0]}}"/>
					</div>

					<div class="form-group">
					<label for="prom-hum"> Humedad </label>
					<input type="text" name="prom-hum" id="prom-hum" disabled="true" value="{{promediohum[0]}}"/>
					</div>

					<div class="form-group">
					<label for="prom-presion"> Presion </label>
					<input type="text" name="prom-presion" id="prom-presion" disabled="true" value="{{promediopresion[0]}}"/>
					</div>

					<div class="form-group">
					<label for="prom-vel"> Velocidad del viento </label>
					<input type="text" name="prom-vel" id="prom-vel" disabled="true" value="{{promediovel[0]}}"/>
					</div>

				</div>

				<div type="button" class="btn btn-primary btn-lg btn-block">Ultima muestra</div>
				<div type="button" class="btn btn-default btn-lg btn-block">	

					<div class="form-group">
					<label for="temperatura">Temperatura</label>
					<input type="text" name="temperatura" id="temperatura" disabled="true" value="{{ultimatemperatura[0]}}" />
					</div>

					<div class="form-group">
					<label for="humedad">Humedad</label>
					<input type="text" name="humedad" id="humedad" disabled="true" value="{{ultimahum[0]}}" />
					</div>

					<div class="form-group">
					<label for="presion">Presion</label>
					<input type="text" name="presion" id="presion" disabled="true" value="{{ultimapresion[0]}}" />
					</div>

					<div class="form-group">
					<label for="vel-viento">Velocidad del viento</label>
					<input type="text" name="vel-viento" id="vel-viento" disabled="true" value="{{ultimavelocidad[0]}}" />
					</div>

				</div>
				</div>

				</form>

			</div>
			<div class="col-md-3"></div>
		</div>


{% endblock %}